/* Font Style */
p {
  margin: 0px !important;
}

/* Button Style */

.btn-custom {
  .elementor-button {
    position: relative;
    display: inline-flex;
    // align-items: center;
    justify-content: center;
    background-color: var(--e-global-color-primary);
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
    
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--e-global-color-secondary);
      transform-origin: left center;
      transform: scaleX(0);
      transition: transform 0.35s ease;
      z-index: -1;
    }
    &:hover::before {
      transform: scaleX(1);
    }

    &:hover {
      color: #fff;
    }
  }
}
